#user steve staff;
error_log /tmp/nginx/error.log;
pid /tmp/nginx/nginx.pid;

events {
    worker_connections 1024;
}

http {
  access_log /tmp/nginxaccess.log;
  proxy_cache_path /tmp/nginx/cache keys_zone=one:10m;
  client_body_temp_path /tmp/nginx 1 2;
  proxy_temp_path /tmp/nginx/proxy;
  fastcgi_temp_path /tmp/nginx/fastcgi;
  uwsgi_temp_path /tmp/nginx/uwsgi;
  scgi_temp_path /tmp/nginx/scgi;

  server {
    listen 80;
    return 301 https://$host$request_uri;
  }

  server {
    listen 443 ssl;

    server_name m1.gables.com;

    ssl_certificate           /Users/steve/.nginx/m1.gables.com.crt;
    ssl_certificate_key       /Users/steve/.nginx/m1.gables.com.key;

    ssl_session_cache  builtin:1000  shared:SSL:10m;
    ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers HIGH:!aNULL:!eNULL:!EXPORT:!CAMELLIA:!DES:!MD5:!PSK:!RC4;
    ssl_prefer_server_ciphers on;

    # location /data {
    #   alias /home/robashton/src/nginx/data/;
    # }

    location ~ ^/([0-9]+)/(.*)$ {
      proxy_set_header        Host $host;
      proxy_set_header        X-Real-IP $remote_addr;
      proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header        X-Forwarded-Proto $scheme;

      proxy_pass          http://127.0.0.1:$1/$2$is_args$args;
      proxy_read_timeout  90;

      proxy_redirect      http://127.0.0.1:$1 https://m1.gables.com/$1;
    }
  }
}
