Host nuc2
     HostName nuc2
     User id3as
     CheckHostIP no

Host nuc2-zt
     HostName nuc2-zt
     User id3as
     CheckHostIP no

Host test1
     HostName test1
     User id3as
     CheckHostIP no

Host test1-zt
     HostName test1-zt
     User id3as
     CheckHostIP no

Host jumpbox
     HostName 52.56.170.12

Host usjumpbox
     HostName 13.58.129.72

Host stagingBuild
    User ssm-user
    ProxyCommand sh -c "aws ssm start-session --profile 628351451087_id3as --region eu-west-1 --target i-07dde371a04b76dd5 --document-name AWS-StartSSHSession --parameters 'portNumber=%p'"

#Host i-* mi-*
#    User ssm-user
#    ProxyCommand sh -c "aws ssm start-session --profile 302824998957_development --region $REGION --target %h --document-name AWS-StartSSHSession --parameters 'portNumber=%p'"
